<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Title -->
    <title>Smart Owl</title>
  </head>

  <body>
    <!-- Navbar Login |  Logout -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- If landing_page -->
        {% if landing_page %}
          <!-- If user logged in or not-->
          {% if logout %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
            </ul>
          {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
            </ul>
          {% endif %} 

        <!-- If not landing_page -->
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle d-flex align-items-center link-dark text-decoration-none"
                id="dropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-user"></i> &nbsp;
                <strong>{{ username }}</strong>
              </a>
              <ul
                class="dropdown-menu text-small shadow"
                aria-labelledby="dropdownUser"
              >
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        {% endif %}

      </div>
    </nav>

    <!-- Heading -->
    <h1>WGU Smart Owl</h1>

    <!-- Chat Container -->
    <div id="chat-container">
        <div id="chatbox"></div>
        <div id="userInput">
          <!-- User Prompt  -->
          <textarea id="textInput" name="msg" placeholder="Type your message" rows="1"></textarea>
          
          <!-- Send Button -->
          <input id="buttonInput" type="submit" value="Send">

          <!-- Clear Button -->
          <button id="deleteChatButton">Clear Chat</button>
          
          <!-- Select Model Menu -->
          <select id="select-model" name="model">
            {% for option in models %}
              <option value="{{ option }}" {% if option == selected_option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
    </div>

    <script src="scripts/jquery/jquery-3.6.4.min.js"></script>
    <script src="scripts/login-script.js"></script>
  </body>
</html>
