<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Owl Login</title>

    <!-- Some Stylesheet -->
    <link />
    <link />
  </head>

  <body>
    <form action="/login" method="post">
      <!-- Home Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Handling Error -->
      {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}

      <!-- Handling Message -->
      {% if msg %}
        <div class="alert alert-success" role="success">{{ msg }}</div>
      {% endif %}

      <h2>Log in</h2>

      <!-- Username Field -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <!-- Password Field -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <!-- Submit Button -->
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
